.home-img{
    display:flex;
    height: 554px;
    width: 554px;
    margin-left: 55px;
}
.container{
    width: 50%;
    z-index: 2;
    position: absolute;
    top: 79%;
}
.him-img{
    right: 5px;
}
.hometext{
    margin-left: 44px;
}
h2{
    text-align: center;
}