/* styles.css */

nav {
    background-color:rgba(249 246 246 / 2%);
    
    padding: 2% 10%;
    position: fixed;
    top: 0;
    width: 100%;   
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  a:hover {
    color: #ffc107; /* Change the color on hover */
  }
  .icons{
    display: flex;
   margin-left: 54%;
  }
.logo{
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 18px;
}
.logo-text{
  font-weight: bold;
}